[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=1.0"
redis = "==3.5.3"
newrelic = "==4.20.1.121"
sentry-sdk = {version = "==1.12.1", extras = ["flask"]}
requests = "==2.21.0"
gunicorn = "==20.1.0"
ipdb = "==0.13.11"
opencv-python = ">=3.4"
opencv-contrib-python = ">=4.0"

[dev-packages]

[requires]
python_version = "3.5"
